body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.empresa {
  float: left;
  width: 10%;
  background: #eeeeee;
  margin: 0 5px;
  padding: 5px; }
  .empresa .name {
    color: #666666; }
